/* General Styles */

* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: #ecf0f1; */
    background: url(../img/beautiful-sky-landscape-silhouette-moon.jpg) no-repeat center center/cover;   
}

/* HEADER */

.header{
    position: relative;
    background-color:white;
    background-size: cover;
    height: 440px;
    width: 100%;
    margin:auto;
    z-index: 11;
    
}

.header img{
  
    height: 400px;
    
    margin-bottom: 20px;
    
    
}

.logo-banner{
    max-height: 150px;
}
.logo{
    width: 350px;
}
.enlace{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    background-color:white;
}
.menu{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(47, 78, 145);
    position: sticky;
    top:0;
    box-shadow: 0 4px 25px -22px black;
    z-index: 10;
}
.menu ul{
    
    list-style: none;
    margin: 8px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    padding-left: 7px;
    padding-right: 7px;
}
.menu .item{
    float: left;
    margin: 0 5px;
    
    
}
.menu .item a{
    color: rgb(241, 246, 248);
    font-size: 16px;
    padding: 12px 22px;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    
}
.menu .desple{
    display: none;
    position: absolute;
    min-width: 219px;
    min-height: 220px;
}
.menu .item:hover .desple{
    display: block;
    background: rgb(47, 78, 145);
    padding: 0;
    margin-top:10.5px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    max-width: 200px;

}


.item a.active, .item a:hover{
    background: #d65205;
    transition: .5s;   
}

.desple .sub-item:hover{
    border-radius: 6px;
    padding: 12px 0px;
    background: rgb(47, 78, 145);
    justify-content: center;
    justify-items: center;
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#bdark{
    background: rgb(47, 78, 145);
    margin-right: 10px;
    align-items: flex-end;
    cursor: pointer;
    border: none;
}
#check{
    display: none;
}
#lunas{
    color: white;
    font-size: 25px;

}

section{
    background: none;
    height: auto;
}

body.darkmode{
    background-color: black;
    color:white;
}

/*Buscador*/

#buscador{
    
    display: flex;
    justify-content: center;
}

#buscador i{
    font-size: 26px;
    color: white;
    cursor: pointer;
    transition: all 300ms;
}
#buscador i:hover{
    color:#46a2fd;
}
#ctn-bus{
    position: fixed;
    top:-100px;
    width: 100%;
    z-index: 8;
    background: #fff;
    transition: all 600ms;
    
}
#ctn-bus input{
    display: block;
    width: 1180px;
    padding: 10px 10px;
    font-size: 18px ;
    margin: auto;
    outline: 0;
} 

#box-search{
    position: fixed;
    top:-1000px;
    left: 50%;
    transform: translate(-50%);
    width: 1180px;
    background: #fff;
    z-index: 8;
    list-style: none;
    padding: 0px;
    transition: all 700ms;
}
#box-search li{
    display: flex;
}
#box-search li a{
    display: block;
    width: 100%;
    color: #777777;
    padding: 10px 10px;
    text-decoration: none;
    margin: auto;
    
}


#box-search li a:hover{
    background: #f3f3f3;
}

#box-search li a i{
    margin-right: 10px;
    color: #777777;
}

#cover-ctn-search{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    background: rgb(0, 0, 0, 0.5);
    z-index: 7;
    display: none;
}


/* CONTAINER */


.container {
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;
    display: grid;
    gap: 1.6em;
    /* grid-template-columns: repeat(4, 1fr) 3%; */
    grid-template-columns: repeat(5, 1fr);
}

.container>.header1, .container>.content, .container>.sidebar, .container>.footer, .container>div {
    background: gray;
    padding: 20px;
    border: 1px solid #000000;
}
.content>.article div{
justify-content: center;
display: flex;
}
.content>.article .imgnoticia{
    display: flex;
    width: 350px;
}
.container>.header1, .container>.footer {
    grid-column: 1/-1;
    background-color: #1e272e;
    color: #ffffff;
}

.container>.content {
    grid-column: span 4;
    grid-row: span 4;
}

.content>.article {
    background: black;
    padding: 20px;
    margin-top: 5px;
    color: #dfe6e9
    
}

.content .article h1,
.content .article p {
    padding: 10px;
    
}


.content .article h1{
    text-align: center;
    
}


.container>.sidebar {
    grid-column: span 2;
    grid-row: span 4;
    background: #485460;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .sidebar img {
    display: block;
    width: 100%;
    margin-top: 5px;
}

.container>.related-post {
    background: #2d3436;
    color: #ffffff;
    height: 208px;
    width: 210px;
    display:flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.container>.related-post:hover {
    cursor: pointer;
    color: #000000;
    background: #ffffff;
}
.container> .imgnoticia img{
 position: relative;
 width: 40px;   
}


/* MEDIA QUERIES */


.footer-D{
    width: 100%;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
    background-color: black;
}

.inner_footer{
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}

.inner_footer .logo_container{
    width: 35%;
    float: left;
    height: 100%;
    display: block;
    padding-left: 100px;
}

.inner_footer .logo_container img{
    width: 150px;
    height: auto;
    margin-left: 50px;
}

.logo_container i{
   
    margin-right: 100px;
}

.inner_footer .logo_container span{
    color: white;
    margin-right: 150px;
}

.inner_footer .footer_third{
    width: calc(21.6666666667% - 20px);
    margin-right: 10px;
    float: left;
    height: 100%;
}

.inner_footer .footer_third:last-child{
    margin-right: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.inner_footer .footer_third h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 20x;
}

.inner_footer .footer_third a{
 font-family: "arial";
 font-size: 18px;
 color: white;
 display:flex;
 font-weight: 200;
 width: 100%;
 padding-bottom: 5px;
}

.inner_footer .footer_four a:hover{
    color: yellow;
    text-decoration-line: underline;
   }

.inner_footer .footer_third li{
    display: inline-block;
    padding: 0 5px;
    font-size: 20px;
}

.inner_footer .footer_third a li{
    font-size: 16px;
    margin-bottom: 6px;
    align-items: center;
}

.inner_footer .footer_third span{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 200;
    display: block;
    width: 100%;
    padding-top: 20px;
}

.inner_footer .footer_four h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 20x;
    text-align: center;
}

.inner_footer .footer_four a{
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 200;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    
}


@media(max-width: 850px){
    .footer-D .inner_footer{
        width: 90%;
    }

    .inner_footer .logo_container,
    .inner_footer .footer_third{
        width: 100%;
        margin-bottom: 30px;
    }

}@media (max-width: 850px){
    .enlace{
        padding-left: 20px;
    }
    nav ul div li a{
        font-size: 16px;
    }
}

@media (max-width: 850px){
    .footer-D{
        width: 100%;
        align-items: center;
        
    }
    .checkbtn{
        display: block;
        margin-left: 10px;
    }
    .menu{
        width: 100%;
        align-items: center;
        justify-content: space-between;
        font-size: 24px;
        
    }
    .menu #bdark{
        display: block;
        font-weight: bolder;
        margin-right: 10px;
        border: none;

    }
    .menu .ul{
        
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #0754a1;
        top: 60px;
        left: -120%;
        text-align: center;
        transition: all .5s;
        margin-left: auto;
        overflow-x: hidden;
        margin: auto;
    }
    .menu .item{
        display: none;
    }
    
    .menu ul .item{
        display: block;
        float: none;
    }
    .menu .desple{
        
        min-width: 100px;
        position: absolute;
        max-height: 400px;
    }
    .menu .item:hover .desple{
      
        background: #0754a1;
        margin: 1px;
        line-height: 0cm;
        
    }
    .desple .sub-item:hover{
        border-radius: 6px;
        padding: 12px 0px;
        background: #0754a1;
        justify-content: center;
        justify-items: center;
    }
    .desple a{
        display: inline;
        justify-content: center;
    }
    
    .cont{
        
        position: sticky;
        display: flex;
        justify-content: center;
    
    }
   
    nav ul li a{
        font-size: 20px;
        line-height: 2cm;
    }
    .item a:hover, .item a.active{
        background: none;
        color: orange;
        
    }
    #check:checked ~ .ul{
        left:0;
        
    }

    .news-cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .cards-banner-one .content,
    .cards-banner-two .content{
        width: 80%;
    }
    .footer .social-links{
        padding-left: 150px;
        display: block;
        text-align: center;

    }
    .inner_footer .logo_container{
        width: 35%;
        float: left;
        padding-left: 50px;
        height: 100%;
        display: block;
    }
    .inner_footer .footer_third{
        padding-left: 10px;
        display: block;
        text-align: center;
    }
    
    
    .inner_footer .copy-pie{
    position:static;
    padding-right: 10px;
    }
    .footer_four{
        position: relative;
        padding-left: 350px;
        padding-bottom: 90px ;
    }
    .footer h2{
        padding-left: 90px;
    }
    
    #ctn-bus,#ctn-bus input, #box-search{
        width: 100%;
    }

    .content{
        width: 93%;
    }

}